body {
    /* height: 100vh;
    width: 100vw; */
    background-color: rgb(38, 38, 38);
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh;
}

.div1 {
    height: 55px;
    width: 40%;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: rgb(247, 212, 161);
}

nav {
    display: inline-flex;
    list-style-type: none;
}

nav li {
    margin: 0px 30px;
}